*{
    padding: 0;
    margin: 0;
    text-decoration: none;/*para sacar todos los subrayados*/
    list-style: none;/*borra los estilos de las listas*/
    box-sizing: border-box;/* para que los elemntos no se salgan del contenedor*/
    font-family: 'Montserrat',Arial,sans-serif;

}

body{
    background: rgb(106, 67, 148);
}


.cuenta {
    width: 25%;
    height: 800px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.cuenta .img_cuenta {
    width: 100%;
    height: 40%;
    background-color: rgba(250, 235, 215, 0.829)
}

.img_cuenta img {
    width: 70%;
    height: 80%;
    border-radius: 70%;
    margin-left: 15%;
 margin-top: 2%;
}

